<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="last-modified" content="Fri, 07 Sep 2018 02:02:00 GMT"/>
    <meta name="description" content="PHP, Node.js, Python and Go Full Stack Developer"/>
    <title>Taras Labiak - Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58031952-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-58031952-14');
</script>

<!-- Yandex.Metrika counter -->
<script>
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
      try {
        w.yaCounter38832885 = new Ya.Metrika({
          id: 38832885,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else {
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/38832885" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<div id="app"
     itemscope
     itemtype="https://schema.org/Person"
     xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-cloak="http://www.w3.org/1999/xhtml">
    <header>
        <img id="avatar"
             itemprop="image"
             v-bind:class="{large: large}"
             v-on:click="large = !large"
             alt="Taras Labiak"
             src="https://instagram.fiev4-1.fna.fbcdn.net/vp/1dfe9b8dd04d799ac74112cc0a6bf41a/5C270929/t51.2885-15/e35/39933858_2101791893371424_6712641488855917763_n.jpg"/>
        <div>
            <h1>
                <span itemprop="givenName">Taras</span>
                <span itemprop="familyName">Labiak</span>
            </h1>
            <h2>PHP, Node.js, Python Full Stack Developer</h2>
            <!--<a class="export">PDF</a>-->
            <div class="abstract">
                <div class="tile">
                    <div class="label">Age</div>
                    <div class="value">29</div>
                </div>
                <div class="tile">
                    <div class="label">Email</div>
                    <a itemprop="email" href="mailto:kissarat@gmail.com" class="value">kissarat@gmail.com</a>
                </div>
                <div class="tile">
                    <div class="label">Location</div>
                    <div itemprop="address" class="value">Lviv, Ukraine</div>
                </div>
                <div class="tile">
                    <div class="label">Phone</div>
                    <a itemprop="telephone" href="tel:+380671541943" class="value">+380671541943</a>
                </div>
                <div class="tile">
                    <div class="label">Experience</div>
                    <div class="value">3 years</div>
                </div>
                <div class="tile">
                    <div class="label">Skype</div>
                    <div class="value">taradox89</div>
                </div>
                <div>
                    <div class="label">Facebook</div>
                    <a href="https://www.facebook.com/kissarat" class="value">www.facebook.com/kissarat</a>
                </div>
                <div>
                    <div class="label">Website</div>
                    <a itemprop="url" href="https://kissarat.github.io/" class="value">kissarat.github.io</a>
                </div>
            </div>
        </div>
        <div id="updated">
            Updated <span>2018-09-07T02:13:43.191Z</span>
        </div>
    </header>
    <article>
        <dl>
            <dt>Summary</dt>
            <dd itemprop="description">
                PHP 7, Python 3, JavaScript, C/C++, C#, Java, Go, Bash, HTML, SCSS, SVG, Vue.js, React.js, jQuery,
                Node.js, Electron, express.js, Meteor, REST/HTTP, Yii 2, tornado, PostgreSQL, MySQL,
                MongoDB, IndexedDB, .NET, WPF, Silverlight, Git, Mercurial, Docker, Redis. Bitcoin,
                Ethereum (parity) node configuration and usage through API
            </dd>
            <dt>Experience</dt>
            <dd>
                <h3 v-cloak>{{ ico }}</h3>
                <p>Investment project. PHP/Yii2, PostgreSQL, Vue.js. Work with payment systems Perfect Money, AdvCash,
                    Payeer, Bitcoin (using block.io), Ethereum (using parity)
                </p>

                <h3>MLBot for Skype</h3>
                <p>Massive (and periodic) message sender, importing and adding contact list, automatic deletion
                    of contacts. The backend is implemented on Node.js and PostgreSQL, the
                    frontend is made using Electron, React.js.
                </p>

                <h3>Evart Social Network</h3>
                <p>
                    The social network. Node.js + Marionette.js
                    <a href="https://github.com/kissarat/evart-social-network-node.js">https://github.com/kissarat/evart-social-network-node.js</a>
                    and on Meteor.js + React
                    <a href="https://github.com/kissarat/evart-social-network-node.js">https://github.com/kissarat/evart-social-network-meteor</a>.
                </p>

                <h3>BestChoice Club</h3>
                <p>Investment project with a matrix structure. PHP/Yii2, PostgreSQL, Vue.js. Work with payment systems
                    Perfect Money, AdvCash, Payeer
                </p>

                <h3>IntelSCADA</h3>
                <p>Python/JavaScript Developer. Smart home management system.
                    My role is the development of a room sensor editor. Created on the basis of SVG format
                </p>
            </dd>
            <dt>Education</dt>
            <dd id="education">
                <div>
                    <div>2006 - 2011</div>
                    <div>
                        Bachelor's degree, Computer Systems and Networks | Ternopil Ivan Pul'uj
                        National Technical University
                    </div>
                </div>
                <div>
                    <div>2002 - 2006</div>
                    <div>
                        High school degree | Technical Liceum
                    </div>
                </div>
            </dd>
            <dt>Own Projects</dt>
            <dd>
                <h3>Never Loose</h3>
                <p>Google Chrome extension
                    (<a href="https://github.com/kissarat/never-lose">https://github.com/kissarat/never-lose</a>)
                    that makes snapshots at
                    achive.org of any pages every visit</p>
                <h3>Dominant</h3>
                <p>Google Chrome extension (<a href="https://github.com/kissarat/dominant">https://github.com/kissarat/dominant</a>)
                    for commenting any
                    element of any HTML page. User can see comment of other users</p>
                <h3>prom.ua JSON gateway</h3>
                <p>Gateway, that accepts any URL of prom.ua, parse appropriate page and respond in JSON
                    format <a href="https://github.com/kissarat/prom">https://github.com/kissarat/prom</a></p>
                <h3>Code Commenter</h3>
                <p>Web application for commenting of lines of Python code with own syntax highlighter
                    <a href="https://github.com/kissarat/coco">https://github.com/kissarat/coco</a></p>
            </dd>
        </dl>
    </article>
    <a id="pdf" href="taras-labiak-resume.pdf" title="Save as PDF"><img alt="Save as PDF" src="images/pdf.png"/></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="script.js"></script>

</body>
</html>
