#app {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

@media print {
    #pdf {
        display: none;
    }

    #app {
        justify-content: flex-start;
    }
}

header {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

header > div {
    padding-left: 16px;
}

h1 {
    margin-top: 4px;
    margin-bottom: 8px;
}

h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 15pt;
    color: #7e7e7e;
    font-weight: 300;
}

h3 {
    margin-top: 4px;
    margin-bottom: 2px;
    font-size: 13pt;
}

#pdf > img {
    width: 64px;
    height: 64px;
}

@media (min-width: 800px) {
    header {
        width: 768px;
    }

    #pdf {
        position: fixed;
        right: 8px;
        bottom: 8px;
    }
}

@media (max-width: 510px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    h1, header h2 {
        text-align: center;
    }
}

.abstract {
    margin-left: 8px;
}

.abstract > .tile {
    display: inline-block;
    width: 220px;
}

.abstract > div > * {
    display: inline-block;
}

.abstract .label {
    color: #7e7e7e;
}

.abstract .value {
}

a {
    color: black;
    text-decoration: none;
}

.abstract .label::after {
    content: ': ';
}

#avatar {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-bottom: 8px;
}

#avatar.large {
    width: 400px;
    height: 400px;
}

article {
    max-width: 768px;
    text-align: justify;
    margin-top: 8px;
}

dt {
    font-size: 14pt;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
}

dd {
    margin-left: 0;
}

@media (max-width: 799px) {
    dt {
        padding-left: 12px;
    }

    dd {
        padding: 0 12px;
    }
}

[v-cloak] {
    display: none;
}

#education {
    display: table;
}

#education > div {
    display: table-row;
}

#education > div > div {
    display: table-cell;
}

#education > div > div:first-child {
    color: #7e7e7e;
    width: 120px;
}

#updated {
    position: absolute;
    right: 8px;
    color: rgba(126, 126, 126, 0.2);
}
